.animate_pan {
    animation: animate_pan .85s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animate_pan {
    0%   { width:0px; }
    100% {  width: 750px; }
}


.panel.animate_pan::after {
    animation: animate_pan_after .45s;
    animation-delay: .70s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animate_pan_after {
    0%   { opacity: 0; }
    100% {  opacity: 1; }
}

.panel.animate_pan .score {
    animation: animate_score .10s;
    animation-delay: .65s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animate_score {
    0%   { opacity: 0; }
    100% {  opacity: 1; }
}

.panel.animate_pan .flag {
    animation: animate_flag .40s;
    animation-delay: 1s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animate_flag {
    0%   { opacity: 0; }
    100% {  opacity: 1; }
}

.panel.animate_pan .name {
    animation: animate_name .60s;
    animation-delay: 1.2s;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes animate_name {
    0%   { transform: scale(0); opacity:0; }
    100% {  transform: scale(1); opacity:1; }
}


.panelT.animate_panT {
    animation: animate_panT .40s;
    animation-delay: 2s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes animate_panT {
    0%   { height: 0px; }
    100% {  height: 25px; }
}

.panelT.animate_panT .title {
    animation: animate_titleT .50s;
    animation-delay: 2.2s;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes animate_titleT {
    0%   { transform: scale(0); opacity:0; }
    100% {  transform: scale(1); opacity:1; }
}