.panelL.animate_pan {
    animation: animate_panL .35s;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes animate_panL {
    0%   { left: -875px;}
    100% { left: 10px; }
}

.panelR.animate_pan {
    animation: animate_panR .35s;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.panelL.animate_pan .footer {
    animation: animate_footerL .35s;
    animation-delay: .20s;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes animate_footerL {
    0%   { left: -875px; }
    100% { left: 0; }
}


.animate_pan .footer .twitter {
    animation: animate_twitter .20s;
    animation-delay: .40s;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes animate_twitter {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

.panelL.animate_pan .name {
    animation: animate_nameL .10s;
    animation-delay: .25s;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes animate_nameL {
    0%   { left: -875px; opacity: 0; }
    100% { left: 0; opacity: 1; }
}


